div{
    height:100px;
    width: 100px;
    background-color:pink;
    border-width: 15px;
    border-color:red;
    border-style:solid;
    border-radius:10px;
    padding-left: 25px;
}
h1{
    
    height:100px;
    width:150px;
    border:15px solid green;
    padding:50px 30px 40px 5px;

    /*border-width:9px;
    border-color:blue;
    border-style:solid;
    background-color:aqua;
    text-align:center;*/

}