.header{
    background-color: grey;
    height: 100%;
    width: 100%;
    text-align: center;
    display: block;
    margin:auto;
}
.button{
    display: inline-block;
    background-color: #c0e6ff;
    color: rgb(54, 54, 215);
    gap: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 5px;
    margin: 5px;
    
}
.button2{
    display: inline-block;
    background-color: #50f76c;
    color: rgb(54, 54, 215);
    gap: 10px;
    text-align: center;
    padding: 5px;
    margin: 5px;
}